<section class="cta">
  <h2>Join Our Community</h2>
  <p>Share your story with us &mdash; we want to hear from you!</p>
  <a href="https://fuzhou.beehiiv.com/subscribe" class="button">Start Now</a>
</section>
